{% extends '_base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="chart-container" style="position: relative; height:50%; width:50%">
    <canvas id="accounts"></canvas>
</div>
<div class="chart-container" style="position: relative; height:50%; width:50%">
    <canvas id="transfers"></canvas>
</div>
{% endblock content %}
{% block extra_scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="{% static 'js/assets/charts.js' %}"></script>
<script>
$( document ).ready(function() {
    accountsChart();
    {#transterChart();#}
})
</script>
{% endblock extra_scripts %}
