{% extends '_base.html' %}
{% load static %}
{% block content %}
    <script>
        let queryData = {}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="row">
        <div class="col-md">
            <canvas id="accounts"></canvas>
        </div>
        <div class="col-md" id="table_div"></div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <div>
                <select id="report-menu"></select>
            </div>
        </div>
        <div>
            <button id='update-report-btn' class="btn btn-default">Обновить отчеты</button>
            <div id='report-loader' class="spinner-grow text-primary center" style="display: none;"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
            <div id="curve_chart" style="height: 500px; width: 1700px"></div>
    </div>
{% endblock content %}
{% block extra_scripts %}
    <script src="{% static 'js/assets/charts.js' %}"></script>
    <script src="{% static 'js/assets/main.js' %}"></script>
    <script>
        $(document).ready(async function () {
            let query = `
    query {
        myTransferXirr{
            accountName,
            avgPercent,
            totalPercent,
            earnSum
        },
        assetsRemains,
        accountChart,
        reportAssetEstimateDataset {
            accountName,
        data {
          date,
          sum,
          incomeSum
        }
      },
      userAccounts(exclude:"without-report") {
          name
      }
    }
    `
            queryData = await graphqlQuery(query);
            accountsChart(queryData);
            showAvgIncome(queryData);
            showReportChart();
            setReportSelectors();
            //listeners
            document.getElementById('report-menu').addEventListener('change', updateChart, false);
            $('#update-report-btn').click(async function (event) {
                await updateReports();
            });

        })
    </script>
{% endblock extra_scripts %}
