{% extends '_base.html' %}
{% load static %}
{% block content %}
<script>
    let queryData = {}
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div class="row">
        <div class="col-md">
            <canvas id="accounts"></canvas>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <h4>AVG доходность за год</h4>
                </div>
                  <div class="card-body">
                      <h3 class="text-center" id="avg-xirr"></h3>
                      <div>
                          <button id='update-report-btn' class="btn btn-default">Обновить отчеты</button>
                          <div id='report-loader' class="spinner-grow text-primary center" style="display: none;"
                               role="status">
                              <span class="sr-only">Loading...</span>
                          </div>
                      </div>
                      <div>
                          <button id='update-mm-btn' class="btn btn-warning">Обновить MM</button>
                          <div id='mm-loader' class="spinner-grow text-warning center" style="display: none;"
                               role="status">
                              <span class="sr-only">Loading...</span>
                          </div>
                      </div>

                  </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Доход за все время</h4>
                </div>
                  <div class="card-body">
                      <h3 class="text-center" id="total-xirr"></h3>
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <select id="report-menu"></select>
            <div id="curve_chart" style="height: 500px; width: 1100px"></div>
        </div>
    </div>
{% endblock content %}
{% block extra_scripts %}
<script src="{% static 'js/assets/charts.js' %}"></script>
<script src="{% static 'js/assets/main.js' %}"></script>
<script>
    $( document ).ready(async function() {
    let query = `
    query {
        myTransferXirr{
            accountName,
            avgPercent,
            totalPercent
        },
        accountChart,
        reportAssetEstimateDataset {
            accountName,
        data {
          date,
          sum,
          incomeSum
        }
      },
      userAccounts {
          name
      }
    }
    `
    queryData = await graphqlQuery(query);
    accountsChart(queryData);
    showXirrValue(queryData);
    showReportChart()
    setReportSelectors()
    //listners
    document.getElementById('report-menu').addEventListener('change', updateChart, false);
    $('#update-report-btn').click(async function (event) {
        await updateGmailReports();
    });
    $('#update-mm-btn').click(async function (event) {
        await updateMmData();
    });

})
</script>
{% endblock extra_scripts %}
