{% extends '_base.html' %}
{% load static %}
{% block title %}Дивиденты{% endblock %}
{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <body>
    <div class="row">
        <div class="col-12">
            <div id="column_chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div id="year_total_chart"></div>
        </div>
        <div class="col-6">
            <div id="month_avg_chart"></div>
        </div>
    </div>
    </body>
{% endblock content %}
{% block extra_scripts %}
    <script src="{% static 'js/assets/charts.js' %}"></script>
    <script src="{% static 'js/assets/main.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(async function () {
            let query = `
query {
  couponChart{
    date,
    sum
  },
  couponAggregated{
    year,
    sum,
    avgMonth
  }
}
        `
            let queryData = await graphqlQuery(query)
            showDividentChart(queryData)
        })
    </script>
{% endblock extra_scripts %}