{% extends '_base.html' %}
{% load static %}
{% block title %}Портфель{% endblock %}
{% block content %}
    <script>
        let listOfQueryFields = [
            "name",
            "averagePositionPrice",
            "startMarketTotalSumWithoutNkd",
            "balance",
            "expectedYield",
            "figi",
            "instrumentType",
            "ticker",
            "currency",
        ]
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <body>
    <div class="row">
        <div class="col-md-12">
            <div id="table_div"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chart_sort_div"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="piechart" style="height: 450px; width: 1100px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="pie-position-chart" style="height: 450px; width: 1100px"></div>
        </div>
    </div>
    </body>
{% endblock content %}
{% block extra_scripts %}
    <script src="{% static 'js/assets/charts.js' %}"></script>
    <script src="{% static 'js/assets/main.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(async function () {
            let query = `
        query {
  tinkoffPortfolio{
    map,
    data {
        ${listOfQueryFields.join()}
    }
  }
}
        `
            let queryData = await graphqlQuery(query)
            showPortfolioReportTable(queryData.data.tinkoffPortfolio, 'tinkoff')
        })
    </script>
{% endblock extra_scripts %}