{% extends '_base.html' %}
{% load static %}
{% block title %}Портфель{% endblock %}
{% block content %}
    <script>
        let listOfQueryFields = [
                        "account",
                        "couponPercent",
                        "purchaseCouponPercent",
                        "couponDate",
                        "realPrice",
                        "name",
                        "isin",
                        "startAmount",
                        "startMarketTotalSumWithoutNkd",
                        "startDenomination",
                        "startMarketTotalSum",
                        "startNkd",
                        "changesAmount",
                        "changesTotalSum",
                        "scheduledEnrolmentAmount",
                        "scheduledChargesAmount",
                        "scheduledOutboundAmount",
        ]
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <body>
    <div class="row">
        <div class="col-md-12">
            <div id="table_div"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chart_sort_div"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div id="piechart" style="height: 450px; width: 1100px"></div>
        </div>
        <div class="col-md-3">
            <p>ИИС входящие</p>
            <div id="iis_div"></div>
        </div>
    </div>
    </body>
{% endblock content %}
{% block extra_scripts %}
<script src="{% static 'js/assets/charts.js' %}"></script>
<script src="{% static 'js/assets/main.js' %}"></script>
    <script type="text/javascript">
$( document ).ready(async function() {
    let query = `
        query {
  portfolioCombined{
    map,
    data {
        ${listOfQueryFields.join()}
    }
  }
  iisIncome{
    year,
    sum
  }
}
        `
    let queryData = await graphqlQuery(query)
    showPortfolioReportTable(queryData.data.portfolioCombined)
    showIISIncome(queryData.data.iisIncome)
})
    </script>
{% endblock extra_scripts %}