{% extends 'assets/_webdatarocket-table.html' %}
{% load static %}
{% block title %}Трансферы{% endblock %}
{% block content %}
    <body>
    <div id="pivot-table-container"></div>
    <div id="pivot-chart-container"></div>
    </body>
{% endblock content %}
{% block extra_scripts %}
    <script>
    let ru_localization = "{% static 'js/webdatarocks/localization/ru.json' %}";
    let transfers_json_path = "{% static 'js/webdatarocks/transfers/transfers.json' %}";
    </script>
    <script src="{% static 'js/webdatarocks/transfers/transfers.js' %}"></script>
{% endblock extra_scripts %}