{% load static %}
<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{% block title %}{% endblock title %}</span>
        <div class="mdl-layout-spacer"></div>
    </div>
</header>
<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
        <div class="demo-avatar-dropdown">
            <span>{{ request.user.email }}</span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--icon">
            <a href="{% url 'logout' %}">
                <i class="material-icons">login</i>
            </a>
            </button>
            </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="{% url 'assets' %}"><i
                                                   role="presentation"></i>Графики</a>
        <a class="mdl-navigation__link" href="{% url 'transfers' %}"><i
                                                   role="presentation"></i>Зачисления и списания</a>
        <a class="mdl-navigation__link" href="{% url 'deals' %}"><i
                                                   role="presentation"></i>Сделки</a>
        <a class="mdl-navigation__link" href="{% url 'corp-bounds' %}"><i
                                                   role="presentation"></i>Корп. Облигации</a>
        <a class="mdl-navigation__link" href="{% url 'moex-portfolio' %}"><i
                                                   role="presentation"></i>Анализ MOEX</a>
        <a class="mdl-navigation__link" href="{% url 'report-portfolio-sberbank' %}"><i
                                                   role="presentation"></i>Портфель SBER</a>
        <a class="mdl-navigation__link" href="{% url 'portfolio-tinkoff' %}"><i
                                                   role="presentation"></i>Портфель Tinkoff</a>
        <a class="mdl-navigation__link" href="{% url 'coupons-dividends' %}"><i
                                                   role="presentation"></i>Дивиденты</a>
        <div class="mdl-layout-spacer"></div>
    </nav>
</div>